- name: create git repo folder
  command: mkdir /home/johannes/git

- name: create themes folder
  ansible.builtin.shell: mkdir -p /home/johannes/.themes/

- name: copy GNOME Theme Nord Blueish folder
  copy: src=files/Nordic-bluish-accent/ dest=/home/johannes/.themes/ owner=johannes group=johannes mode=600

- name: set GNOME Nord Blueish Theme
  ansible.builtin.shell: |
    gsettings set org.gnome.desktop.interface gtk-theme "Nordic"
    gsettings set org.gnome.desktop.wm.preferences theme "Nordic"

- name: install python-psutil package
  apt: name=python-psutil

- name: copy wallpaper folder
  copy: src=files/wallpapers/ dest=/home/johannes/.wallpapers/ owner=johannes group=johannes mode=600

- name: set wallpaper
  become_user: johannes
  dconf: key="/org/gnome/desktop/background/picture-uri" value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: set lock screen background
  become_user: johannes
  dconf: key="/org/gnome/desktop/screensaver/picture-uri" value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: spotify nord theme
  ansible.builtin.shell: |
    curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.sh | sh
    spicetify config current_theme Sleek color_scheme Nord
    spicetify config inject_css 1 replace_colors 1 overwrite_assets 1
    spicetify apply

- name: vim nord theme
  ansible.builtin.shell: |
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    echo "https://github.com/arcticicestudio/nord-vim"
