- name: create git repo folder
  file:
    path: /home/johannes/git
    state: directory

- name: copy GNOME Theme Nordic folder
  copy: src=files/themes dest=/usr/share/themes/ owner=johannes group=johannes mode=600 force=no

#- name: set GNOME Nordic Theme
#  shell: |
#    gsettings set org.gnome.desktop.interface gtk-theme "Nordic"
#    gsettings set org.gnome.desktop.wm.preferences theme "Nordic"

- name: set GNOME Nordic Theme
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/interface/gtk-theme" 
    value="'Nordic'"

- name: install python-psutil package
  apt: name=python3-psutil

- name: copy wallpaper folder
  copy: src=files/wallpapers/ dest=/home/johannes/.wallpapers/ owner=johannes group=johannes mode=600

- name: set wallpaper
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/background/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: set lock screen background
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/screensaver/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

#- name: install spotify nord theme
#  shell: |
#    curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-cli/master/install.sh | bash -
#    curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.sh | bash -

#- name: apply spotify nord theme
#  shell: |
#    spicetify config current_theme Sleek color_scheme Nord
#    spicetify config inject_css 1 replace_colors 1 overwrite_assets 1
#    spicetify apply

- name: vim nord theme
  shell: |
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    echo "https://github.com/arcticicestudio/nord-vim"
