- name: create .ansible-flags directory for keeping state
  file:
    path: /home/{{ username }}/.ansible-flags
    state: directory
  become_user: "{{ username }}"

- name: create git repo folder
  file:
    path: /home/{{ username }}/git
    state: directory
  become_user: "{{ username }}"

- name: copy gnome theme nordic zip
  copy: 
    src: files/themes/nordic.tar.gz
    dest: /home/{{ username }}/.theme/
    owner: "{{ username }}" 
    group: "{{ username }}"
    mode: '0600' 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /home/{{ username }}/.theme/nordic.tar.gz
    dest: /usr/share/themes
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-theme-nordic-zip

- name: set gnome nordic theme
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/gtk-theme" 
    value: "'Nordic-bluish-accent-v40'"

- name: copy folders icons nordic zip
  copy: 
    src: files/themes/nordic-folders.tar.xz
    dest: /home/{{ username }}/.theme/
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0600' 
    force: no

- name: extract gnome theme nordic folders zip
  unarchive: 
    src: /home/{{ username }}/.theme/nordic-folders.tar.xz
    dest: /usr/share/icons
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-theme-nordic-folders-zip    

- name: set gnome papirus icon theme
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/icon-theme" 
    value: "'Papirus'"

- name: copy papirus directory icons
  copy: 
    src: files/themes/papirus-nord.tar.xz
    dest: /home/{{ username }}/.theme/papirus-nord-icons/
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0600' 
    force: no

- name: extract gnome theme papirus nord folders zip
  unarchive: 
    src: /home/{{ username }}/.theme/papirus-nord-icons/papirus-nord.tar.xz
    dest: /home/{{ username }}/.theme/papirus-nord-icons/
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-theme-papirus-nord-zip    

- name: install gnome theme papirus nord folders zip
  become: yes
  shell:
    cmd: /home/{{ username }}/.theme/papirus-nord-icons/install
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-theme-papirus-nord-install

- name: install gnome theme papirus nord folders zip
  become: yes
  shell:
    cmd: /home/{{ username }}/.theme/papirus-nord-icons/papirus-folders -C black
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-theme-papirus-nord-set-black  


- name: set hack font
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/font-name" 
    value: "'Hack 11'"    

- name: set hack font for documents
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/document-font-name" 
    value: "'Hack 11'"    

- name: set hack font for titlebars
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/wm/preferences" 
    value: "'Hack Bold 11'"

- name: set some apps as favorite
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/favorite-apps" 
    value: "['brave-browser.desktop', 'org.gnome.Terminal.desktop', 'code.desktop', 'spotify.desktop', 'nordpass_nordpass.desktop', 'org.gnome.Nautilus.desktop']"

- name: copy wallpaper folder
  copy: 
    src: files/wallpapers/ 
    dest: /home/{{ username }}/.wallpapers/ 
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0604'

- name: set wallpaper
  become_user: "{{ username }}"
  dconf: 
    key="/org/gnome/desktop/background/picture-uri" 
    value="'file:///home/{{ username }}/.wallpapers/nord-wallpaper04.jpg'"

- name: set lock screen background
  become_user: "{{ username }}"
  dconf: 
    key="/org/gnome/desktop/screensaver/picture-uri" 
    value="'file:///home/{{ username }}/.wallpapers/wallpaper-aurora05.jpg'"

- name: copy profile pic
  become_user: "{{ username }}"
  copy: 
    src: files/pictures/johannes.jpg
    dest: /var/lib/AccountsService/icons/johannes
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0604'

- name: set profile picture
  become: yes
  lineinfile:
    path: /var/lib/AccountsService/users/{{ username }}
    regexp: '^Icon='
    line: 'Icon=/var/lib/AccountsService/icons/johannes'

- name: create theme folder for theme related stuff
  file:
    path: /home/{{ username }}/.theme/
    state: directory
  become_user: "{{ username }}"

- name: set gnome desktop setting show-clock-weekday
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/clock-show-weekday" 
    value: "true"

- name: set gnome desktop dock to bottom
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/dash-to-dock/dock-position" 
    value: "'BOTTOM'"

- name: set gnome desktop dock to multi-monitor
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/dash-to-dock/multi-monitor" 
    value: "true"

- name: set gnome desktop dock to hide trashcan
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/dash-to-dock/show-trash" 
    value: "false"

- name: set gnome desktop dock to extend-height false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/dash-to-dock/extend-height" 
    value: "false"

- name: set gnome desktop dock to fixed icon size 48
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size" 
    value: "48"

- name: copy dotfiles
  copy: 
    src: files/dotfiles/
    dest: /home/{{ username }}/.dotfiles/
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0600'
    force: no

- name: clone nord theme for terminal
  shell: cd /home/{{ username }}/git/ && git clone https://github.com/arcticicestudio/nord-gnome-terminal.git
  args:
    creates: /home/{{ username }}/.ansible-flags/terminal_nord_theme_clone
  ignore_errors: yes 

- name: apply nord theme for terminal
  become_user: "{{ username }}"
  shell: ./nord.sh
  args: 
    chdir: /home/{{ username }}/git/nord-gnome-terminal/src
    creates: /home/{{ username }}/.ansible-flags/terminal_nord_theme_apply

- name: set a bit of transparency in terminal
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/terminal/legacy/profiles:/use-transparent-background" 
    value: "'true'"

- name: set transparency level in terminal
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/terminal/legacy/profiles:/background-transparency-percent" 
    value: "'19'"

- name: set transparency level in terminal
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/terminal/legacy/profiles:scrollbar-policy" 
    value: "'never'"

- name: copy extensions zip
  copy: 
    src: files/gnome-extensions/extensions.zip
    dest: /home/{{ username }}/.theme/
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0600' 
    force: no

- name: extract gnome-extensions.zip
  unarchive: 
    src: /home/{{ username }}/.theme/extensions.zip
    dest: /home/{{ username }}/.local/share/gnome-shell/extensions/
  args:
    creates: /home/{{ username }}/.ansible-flags/gnome-extensions-unzip

- name: gnome-extension unite extend left box
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/extend-left-box" 
    value: "'true'"

- name: gnome-extension unite show activities button
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/hide-activities-button" 
    value: "'always'"

- name: gnome-extension unite hide app menu icons
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/hide-app-menu-icon" 
    value: "'true'"

- name: gnome-extension unite hide window titlebars
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/hide-window-titlebars" 
    value: "'always'"

- name: gnome-extension unite reduce panel spacing
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/reduce-panel-spacing" 
    value: "'true'"

- name: gnome-extension unite restrict to primary screen
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/restrict-to-primary-screen" 
    value: "'false'"

- name: gnome-extension unite show desktop name
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/show-desktop-name" 
    value: "'false'"

- name: gnome-extension unite show window title
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/unite/show-window-title" 
    value: "'tiled'"

- name: blur-my-shell panel true
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/panel/blur" 
    value: "'true'"  

- name: blur-my-shell panel brightness
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/panel/brightness" 
    value: "1.0"

- name: blur-my-shell panel customize
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/panel/customize" 
    value: "true"

- name: blur-my-shell panel sigma
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/panel/sigma" 
    value: "0"

- name: blur-my-shell panel override-background
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/panel/override-background" 
    value: "'true'"

- name: blur-my-shell applications true
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/blur" 
    value: "true"

- name: blur-my-shell applications brigthness
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/brightness" 
    value: "1.0"

- name: blur-my-shell applications customize true
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/customize" 
    value: "true"

- name: blur-my-shell applications enable all false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/enable-all" 
    value: "false"

- name: blur-my-shell applications opacity
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/opacity" 
    value: "200"

- name: blur-my-shell applications sigma
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/sigma" 
    value: "30"

- name: blur-my-shell applications whitelist
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/blur-my-shell/applications/whitelist" 
    value: "['Brave-browser', 'org.gnome.Nautilus', 'gedit']"

- name: gnome-extension rounded corners settings
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/rounded-window-corners/global-rounded-corner-settings" 
    value: "{'padding': <{'left': <uint32 1>, 'right': <uint32 1>, 'top': <uint32 1>, 'bottom': <uint32 1>}>, 'keep_rounded_corners': <{'maximized': <false>, 'fullscreen': <false>}>, 'border_radius': <uint32 13>, 'smoothing': <uint32 0>, 'enabled': <true>}"

- name: gnome-extension rounded corners settings version
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/rounded-window-corners/settings-version" 
    value: "'uint32 5'"

- name: gnome-extension aylurs widget disable background clock
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/background-clock" 
    value: "false"

- name: gnome-extension aylurs widget battery bar offset
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-offset" 
    value: "7"

- name: gnome-extension aylurs widget battery bar true
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar" 
    value: "'true'"

- name: gnome-extension aylurs widget battery bar charging color
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-charging-color" 
    value: "'rgb(143,240,164)'"

- name: gnome-extension aylurs widget battery bar color
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-color" 
    value: "'rgb(153,193,241)'"

- name: gnome-extension aylurs widget battery bar height
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-height" 
    value: "20"

- name: gnome-extension aylurs widget battery bar low color
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-low-color" 
    value: "'rbg(246,97,81)'"

- name: gnome-extension aylurs widget battery bar offset
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-offset" 
    value: "'9'"

- name: gnome-extension aylurs widget battery bar icon false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-show-icon" 
    value: "false"

- name: gnome-extension aylurs widget battery bar width
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-width" 
    value: "'140'"

- name: gnome-extension aylurs widget dashboard false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/dash-board" 
    value: "false"

- name: gnome-extension aylurs widget date meny custom false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/date-menu-custom-menu" 
    value: "'false'"

- name: gnome-extension aylurs widget date menu offset
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/date-menu-offset" 
    value: "0"

- name: gnome-extension aylurs widget date-menu-position
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/date-menu-position" 
    value: "1"

- name: gnome-extension aylurs widget media player false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/media-player" 
    value: "false"

- name: gnome-extension aylurs widget notification indicator offset
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/notification-indicator-offset" 
    value: "4"

- name: gnome-extension aylurs widget notification-indicator-position
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/notificaion-indicator-position" 
    value: "2"

- name: gnome-extension aylurs widget power menu false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/power-menu" 
    value: "false"

- name: gnome-extension aylurs widget workspace-indicator false
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/workspace-indicator" 
    value: "false"

- name: gnome-extension aylurs widget battery bar offset
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-offset" 
    value: "9"

- name: gnome-extension aylurs widget battery bar font color
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/aylurs-widgets/battery-bar-font-color" 
    value: "'rgb(255,255,255)'"

- name: hide home folder on desktop
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/shell/extensions/ding/show-home" 
    value: "false"

- name: enable hot corner top left
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/enable-hot-corners"
    value : "'true'"

- name: download tool for gdm login screen background
  become_user: "{{ username }}"
  get_url: 
    url: https://github.com/PRATAP-KUMAR/ubuntu-gdm-set-background/archive/main.tar.gz
    dest: /home/{{ username }}/Downloads/
    force: false

- name: unzip tool for gdm login screen background
  become_user: "{{ username }}"
  unarchive:
    src: /home/{{ username }}/Downloads/ubuntu-gdm-set-background-main.tar.gz
    dest: /home/{{ username }}/Downloads/
  args:
    creates: /home/{{ username }}/.ansible-flags/gdm-loginscreen-unzip

- name: set gdm login screen background
  become: yes
  shell: 
    cmd: ./ubuntu-gdm-set-background --image /home/{{ username }}/git/ubuntu-workstation/files/wallpapers/nord-wallpaper04-blurred.png
    chdir: /home/{{ username }}/Downloads/ubuntu-gdm-set-background-main/
  args:
    creates: /home/{{ username }}/.ansible-flags/gdm-loginscreen-set
  ignore_errors: yes

- name: disable lock screen notifications
  become_user: "{{ username }}"
  dconf:
    key: "/org/gnome/desktop/notifications/show-in-lock-screen"
    value: "'false'"

- name: set list view as default in nautilus
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/nautilus/preferences/default-folder-viewer" 
    value: "'list-view'"

- name: hot corners lower left
  become_user: "{{ username }}"
  dconf:
    key: "/org/gnome/shell/extensions/custom-hot-corners-extended/monitor-0-bottom-left-0/action"
    value: "'show-desktop-mon'"

- name: hot corners top left
  become_user: "{{ username }}"
  dconf:
    key: "/org/gnome/shell/extensions/custom-hot-corners-extended/monitor-0-top-left-0/action"
    value: "'toggle-overview'"

- name: enable extensions
  become_user: "{{ username }}"
  dconf:
    key: "/org/gnome/shell/enabled-extensions"
    value: "['unite@hardpixel.eu', 'rounded-window-corners@yilozt', 'blur-my-shell@aunetx', 'custom-hot-corners-extended@G-dH.github.com', 'widgets@aylur']"

- name: set gnome nord icon theme # setting nord over papirus (line 51) doesn't overwrite all of papirus icons, which is the wanted behaviour (directory folders are overwritten)
  become_user: "{{ username }}"
  dconf: 
    key: "/org/gnome/desktop/interface/icon-theme" 
    value: "'Nordic-darker'"

