- name: create git repo folder
  file:
    path: /home/johannes/git
    state: directory
  become_user: johannes

- name: copy gnome theme nordic zip
  copy: 
    src: files/themes/nordic.tar.gz
    dest: /usr/share/themes/
    owner: johannes 
    group: johannes 
    mode: 600 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /usr/share/themes/nordic.tar.gz
    dest: /usr/share/themes

- name: set gnome nordic theme
  become_user: johannes
  dconf: 
    key: "/org/gnome/desktop/interface/gtk-theme" 
    value: "'Nordic-bluish-accent'"

- name: copy wallpaper folder
  copy: 
    src: files/wallpapers/ 
    dest: /home/johannes/.wallpapers/ 
    owner: johannes 
    group: johannes 
    mode: 600

- name: set wallpaper
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/background/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: set lock screen background
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/screensaver/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: copy profile pic
  copy: 
    src: files/pictures/johannes.jpg
    dest: /var/lib/AccountsService/icons/johannes
    owner: johannes 
    group: johannes 
    mode: 600

- name: set profile picture
  become: true
  lineinfile:
    path: /var/lib/AccountsService/users/johannes
    regexp: '^Icon='
    line: 'Icon=/var/lib/AccountsService/icons/johannes'

- name: create theme folder for theme related stuff
  file:
    path: /home/johannes/.theme/nord-konsole-develop
    state: directory
  become_user: johannes

- name: copy konsole theme nord zip
  copy: 
    src: files/nord-konsole-develop.tar.gz
    dest: /home/johannes/.theme
    owner: johannes 
    group: johannes 
    mode: 600 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /home/johannes/.theme/nord-konsole-develop.tar.gz
    dest: /home/johannes/.theme/nord-konsole-develop

- name: run install.sh for nord konsole theme
  script: /home/johannes/.theme/nord-konsole-develop/install.sh 


