- name: create .ansible-flags directory for keeping state
  file:
    path: /home/johannes/.ansible-flags
    state: directory
  become_user: johannes  

- name: create git repo folder
  file:
    path: /home/johannes/git
    state: directory
  become_user: johannes

- name: copy gnome theme nordic zip
  copy: 
    src: files/themes/nordic.tar.gz
    dest: /home/johannes/.theme/
    owner: johannes 
    group: johannes 
    mode: '0600' 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /home/johannes/.theme/nordic.tar.gz
    dest: /usr/share/themes

- name: set gnome nordic theme
  become_user: johannes
  dconf: 
    key: "/org/gnome/desktop/interface/gtk-theme" 
    value: "'Nordic-bluish-accent-v40'"

- name: copy folders icons nordic zip
  copy: 
    src: files/themes/nordic-folders.tar.xz
    dest: /home/johannes/.theme/
    owner: johannes 
    group: johannes 
    mode: '0600' 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /home/johannes/.theme/nordic-folders.tar.xz
    dest: /usr/share/icons

#- name: set gnome nordic theme
#  become_user: johannes
#  dconf: 
#    key: "/org/gnome/desktop/interface/gtk-theme" 
#    value: "'Nordic-bluish-accent-v40'"

- name: copy wallpaper folder
  copy: 
    src: files/wallpapers/ 
    dest: /home/johannes/.wallpapers/ 
    owner: johannes 
    group: johannes 
    mode: '0600'

- name: set wallpaper
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/background/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: set lock screen background
  become_user: johannes
  dconf: 
    key="/org/gnome/desktop/screensaver/picture-uri" 
    value="'file:///home/johannes/.wallpapers/wallpaper01.jpeg'"

- name: copy profile pic
  copy: 
    src: files/pictures/johannes.jpg
    dest: /var/lib/AccountsService/icons/johannes
    owner: johannes 
    group: johannes 
    mode: '0600'

- name: set profile picture
  become: true
  lineinfile:
    path: /var/lib/AccountsService/users/johannes
    regexp: '^Icon='
    line: 'Icon=/var/lib/AccountsService/icons/johannes'

- name: create theme folder for theme related stuff
  file:
    path: /home/johannes/.theme/nord-konsole-develop
    state: directory
  become_user: johannes

- name: copy konsole theme nord zip
  copy: 
    src: files/themes/nord-konsole-develop.tar.gz
    dest: /home/johannes/.theme
    owner: johannes
    group: johannes
    mode: '0600' 
    force: no

- name: extract gnome theme nordic zip
  unarchive: 
    src: /home/johannes/.theme/nord-konsole-develop.tar.gz
    dest: /home/johannes/.theme/nord-konsole-develop

- name: run install.sh for nord konsole theme
  script: 
    chdir: /home/johannes/.theme/nord-konsole-develop 
    cmd: /home/johannes/.theme/nord-konsole-develop/install.sh && sudo touch /home/johannes/.ansible-flags/nord-konsole-theme
    args: 
      creates: /home/johannes/.ansible-flags/nord-konsole-theme

