- name: install packages
  apt: 
    pkg:
    - snapd
    - apt-transport-https
    - curl
    - python3-psutil
    - util-linux
    - brave-browser
    - notepadqq
    - git
    - gh
    - konsole
    - vim
    - docker
    - fonts-hack-ttf
    - remmina  
    - spotify-client  
    - pwgen  
    - subnetcalc  
    - nmap
    - flameshot
    - tree
    - xsel
    - fd-find
    - fzf
    - gnome-tweaks
    - gnome-shell-extensions
    - neofetch
    - bridge-utils
    - cpu-checker
    - libvirt-clients
    - libvirt-daemon
    - qemu
    - qemu-kvm
    - virt-manager

- name: install nordpass via snap
  command: snap install nordpass --classic

- name: install vscode via snap
  command: snap install code --classic

# teams
- name: check if teams is installed
  command: dpkg-query -W teams
  register: teams_check_deb
  failed_when: teams_check_deb.rc > 1
  changed_when: teams_check_deb.rc == 1

- name: create teams directory
  file: 
    path: /home/johannes/Downloads/.teams-deb
    state: directory 
  when: teams_check_deb.rc == 1    

- name: download teams deb
  get_url: 
    url: https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams/teams_1.3.00.5153_amd64.deb 
    dest: /home/johannes/Downloads/.teams-deb/teams.deb
  when: teams_check_deb.rc == 1

- name: install teams
  apt: deb="/home/johannes/Downloads/.teams-deb/teams.deb"
  when: teams_check_deb.rc == 1

