- name: install packages
  apt: 
    pkg:
    - brave-browser
    - git
    - gh
    - vim
    - docker
    - fonts-hack-ttf
    - remmina  
    - spotify-client  
    - pwgen  
    - subnetcalc  
    - nmap
    - flameshot
    - tree
    - xsel # required for copying to clipboard with "| clipboard"
    - fd-find # required for searching history with f
    - fzf # required for searching history with f 
    - neofetch
    - bridge-utils
    - cpu-checker
    - libvirt-clients
    - libvirt-daemon
    - qemu
    - qemu-kvm
    - virt-manager
    - papirus-icon-theme


- name: install nordpass via snap
  command: snap install nordpass --classic

- name: install vscode via snap
  command: snap install code --classic

