- name: install packages
  apt: 
    pkg:
    - snapd
    - apt-transport-https
    - curl
    - brave-browser
    - notepadqq
    - git
    - gh
    - teams
    - spotify-client
    - pwgen
    - subnetcalc
    - nmap
    - flameshot
    - tree
    - xsel
    - neofetch
    - bridge-utils
    - cpu-checker
    - libvirt-clients
    - libvirt-daemon
    - qemu
    - qemu-kvm
    - virt-manager

- name: install nordpass via snap
  command: snap install nordpass --classic

- name: install prospect-mail via snap
  command: snap install prospect-mail --classic