- name: install packages
  apt: 
    pkg:
    - snapd
    - apt-transport-https
    - curl
    - brave-browser
    - notepadqq
    - git
    - vim
    - gh
    - teams
    - remmina
    - spotify-client
    - pwgen
    - subnetcalc
    - nmap
    - flameshot
    - tree
    - xsel
    - neofetch
    - bridge-utils
    - cpu-checker
    - libvirt-clients
    - libvirt-daemon
    - qemu
    - qemu-kvm
    - virt-manager

- name: install nordpass via snap
  command: snap install nordpass --classic

- name: install prospect-mail via snap
  command: snap install prospect-mail --classic

- name: install azure storage explorer via snap
  command: snap install storage-explorer --classic

# teams
- name: create teams directory
  file: 
    state=directory 
    path=/.teams-deb

- name: download teams deb
  get_url: url=https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams/teams_1.3.00.5153_amd64.deb dest=/.teams-deb/teams.deb

- name: install teams
  shell: sudo apt install /.teams-deb/teams.deb
